{#

#}
<div class="faqView">


  <div class="licenziiView__content width width_paddingStandart">


    {% if header %}
      <header>
        {{ header }}
      </header>
    {% endif %}

    {{ exposed }}
    {{ attachment_before }}

    {{ rows }}
    {{ empty }}
    {{ pager }}

    {{ attachment_after }}
    {{ more }}


    {% if footer %}
      <footer>
        {{ footer }}
      </footer>
    {% endif %}

    {{ feed_icons }}
  </div>
</div>
