{#

#}
<div class="fotografii_klinikiView">
    <div class="fotografii_klinikiView__title title dot width_paddingStandart">Познакомьтесь с клиникой</div>

    <div class="fotografii_klinikiView__content width width_paddingStandart">
        {{ title_prefix }}
        {{ title }}
        {{ title_suffix }}

        {% if header %}
            <header>
                {{ header }}
            </header>
        {% endif %}

        {{ exposed }}
        {{ attachment_before }}

        {{ rows }}
        {{ empty }}
        {{ pager }}

        {{ attachment_after }}
        {{ more }}


        {% if footer %}
            <footer>
                {{ footer }}
            </footer>
        {% endif %}

        {{ feed_icons }}
    </div>
</div>