{#
/**
 * @file
 * Template for a one column panel layout.
 *
 * This template provides a very simple "one column" panel display layout.
 *
 * Variables:
 * - $id: An optional CSS id to use for the layout.
 * - $content: An array of content, each item in the array is keyed to one
 *   panel of the layout. This layout supports the following sections:
 *   - content.middle: The only panel in the layout.
 */
#}

{{ attach_library('my_theme/praises') }}

<div class="praises">

    {% include base_path ~ directory ~ "/bem/blocks/breadcrumbContainer/breadcrumbContainer.html.twig" %}

    {{ drupal_view('baner', 'up') }}

    <div class="praises__container">
        <h1 class="praises__title title_grey width width_norm width_paddingStandart">
            <span class="title__br"></span><span class="services__titleText title__text">{{ content["#title"] }}</span><span class="title__br"></span>
        </h1>

        <div class="praises__mainContent white">
            <div class="praises__content content_norm width width_norm width_paddingStandart">
                {{ drupal_view("prices_all") }}

                {{ content.main }}
            </div>
        </div>
    </div>

    {{ drupal_view('baner', 'down') }}

</div>