<div class="stomaIs width width_norm width_paddingStandart">
    <img class="stomaIs__title" src="/{{ base_path ~ directory }}/bem/blocks/stomaIs/img/stoma-is-min.jpg">
    {% include base_path ~ directory ~ "/bem/blocks/underlining/underlining.html.twig" %}


    <div class="stomaIs__content width width_short">
        <p>«Сеть из 17 стоматологий в Санкт-Петербурге с 20-летним опытом
            и своя зуботехническа лаборатория. Доступное качество рядом с Вами.»</p>
    </div>

    <div class="stomaIs__info width width_norm">
        <div class="stomaIs__infoBlock">
            <img src="/{{ base_path ~ directory }}/bem/blocks/stomaIs/img/serv_icon_1-min.png">
            <span class="stomaIs__int">16 000</span>
            <span class="stomaIs__podpis">Пациентов лечится<br> ежегодно</span>
        </div>
        <div class="stomaIs__infoBlock">
            <img src="/{{ base_path ~ directory }}/bem/blocks/stomaIs/img/serv_icon_2-min.png">
            <span class="stomaIs__int">>500</span>
            <span class="stomaIs__podpis">Сотрудников</span>
        </div>
        <div class="stomaIs__infoBlock">
            <img src="/{{ base_path ~ directory }}/bem/blocks/stomaIs/img/serv_icon_3-min.png">

            <span class="stomaIs__int">20</span>
            <span class="stomaIs__podpis">Лет работы</span>
        </div>
        <div class="stomaIs__infoBlock">
            <img src="/{{ base_path ~ directory }}/bem/blocks/stomaIs/img/serv_icon_4-min.png">

            <span class="stomaIs__int">16</span>
            <span class="stomaIs__podpis">Клиник</span>
        </div>
    </div>
</div>