{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}

    {% import _self as menus %}

    {% if items %}
        {% if menu_level == 0 %}
            <ul{{ attributes.addClass('footerMenu__ul') }} role="menu">
        {% else %}
            <ul class="footerMenu__ul" role="menu">>
        {% endif %}
        {% for item in items %}
            <li{{ item.attributes.addClass('footerMenu__li') }} role="presentation">
                {{ link(item.title, item.url, { 'class':['footerMenu__a'], 'role':['menuitem']}) }}
                {% if item.below %}
                    {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}