{{ attach_library('my_theme/home') }}
{{ attach_library('my_theme/articles') }}
    <div class="breadcrumbContainer width width_full">
    <div class="width width_norm">
        <div class="block-region-breadcrumb">
            <div class="block">
                <style>
                .breadcrumb {
                    list-style: none;
                }
                .breadcrumb>li {
                    display: inline-block;
                }
                .breadcrumb>li+li:before {
                    padding: 0 5px;
                    color: #ccc;
                    content: "/\00a0";
                }
                .breadcrumb__text div {
                  display: inline-block;
                }
            </style>
            <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a class="breadcrumb__link" href="/" itemprop="item"><span  itemprop="name">Главная</span></a>
                    <meta itemprop="position" content="1" />
                </li>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <span itemprop="item" content="https://ctoma.ru/portfolio">
                        <span class="breadcrumb__text" itemprop="name">
                          {% if path('<current>') == '/personal/stomatologi-terapevty' %}
                          Стоматологи-терапевты
                          {% elseif path('<current>') == '/personal/parodontologi' %}
                          Пародонтологи
                          {% elseif path('<current>') == '/personal/stomatologi-ortopedy' %}
                          Стоматологи-ортопеды
                          {% elseif path('<current>') == '/personal/ortodonty' %}
                          Ортодонты
                          {% elseif path('<current>') == '/personal/stomatologi-hirurgi' %}
                          Стоматологи-хирурги
                          {% else %}
                          {% endif %}
                        </span>
                    </span>
                    <meta itemprop="position" content="2" />
                </li>
            </ol>
        </div>
    </div>
</div>
</div>

<div class="doctors__container">
  <h1 class="doctors__title title_grey width width_norm width_paddingStandart">
    <span class="title__text">
      {% if path('<current>') == '/personal/stomatologi-terapevty' %}
        Стоматологи-терапевты
        {% elseif path('<current>') == '/personal/parodontologi' %}
        Пародонтологи
        {% elseif path('<current>') == '/personal/stomatologi-ortopedy' %}
        Стоматологи-ортопеды
        {% elseif path('<current>') == '/personal/ortodonty' %}
        Ортодонты
        {% elseif path('<current>') == '/personal/stomatologi-hirurgi' %}
        Стоматологи-хирурги
        {% else %}
        {% endif %}
    </span>
  </h1>
  <div class="doctors__content width width_norm width_paddingStandart">
    <div id="doctorsFilter" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml" class="doctorsFilter">

      <div class="doctorsFilter__left">
        <div id="flavor-nav" class="doctorsFilter__selectClinik">
          {{ exposed }}
          {{ attachment_before }}
        </div>
        <div class="doctorsFilter__baner"><div class="makeImg"><div class="makeImg__text"><span class="makeImg__text1">Мы перезвоним – для Вас звонок бесплатный!</span> <span class="makeImg__text2">Напишите свои имя и номер телефона, чтобы мы могли связаться с Вами.<br> Будем рады помочь Вам!</span></div> <div class="makeImg__actions"><a href="/make-an-appointment" class="makeImg__button button_red">Записаться</a></div></div></div>
      </div>


      <div id="all-flavors" class="doctorsFilter__right">
        <div class="doctorsFilter__selectDoctor">{{ rows }}</div>
        <nav class="pager" role="navigation" aria-labelledby="pagination-heading"><div id="pagination-container"></div></nav>
      </div>


    </div>
  </div>
</div>





<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/themes/my_theme/bem/blocks/vrachiSpecializaciya/assets/jquery.simplePagination.js"></script>
<link type="text/css" rel="stylesheet" href="/themes/my_theme/bem/blocks/vrachiSpecializaciya/assets/simplePagination.css"/>
<link type="text/css" rel="stylesheet" href="/themes/my_theme/css/doctorsDeclaration.css"/>
<link type="text/css" rel="stylesheet" href="/themes/my_theme/bem/blocks/vrachiSpecializaciya/assets/style.css"/>
<script type="text/javascript" src="/themes/my_theme/bem/blocks/vrachiSpecializaciya/assets/script.js"></script>





